:root {
  --primary-color-green: #1f4b43;
  --secondry-font: "manrope";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondry-font);
}
/* header code */
header {
  width: flex;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-inline: 8%;
  justify-content: space-between;
}
.header_left,
.header_right {
  display: flex;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.hand_buger_btn {
  background-color: white;
  border: none;
}
.hand_buger_menu {
  width: 35px;
  visibility: hidden;
}
.resida-text {
  font-size: 30px;
  color: var(--primary-color-green);
}
.header_cta_contact,
.header_cta_download-app {
  display: grid;
  place-content: center;
  height: 34px;
  width: 130px;
  background-color: #fff;
  color: var(--primary-color-green);
  font-size: 14px;
  line-height: 30px;
  border: none;
  padding: 10px;
  font-family: monospace;
}
.header_cta_download-app {
  margin-left: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 2px solid var(--primary-color-green);
  color: var(--primary-color-green);
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.header_cta_contact {
  cursor: pointer;
  transition: font-weight 0.2s ease-in-out, font-size 0.2s ease-in-out;
}
.header_cta_contact:hover {
  font-weight: 800;
  font-size: 15px;
}
.header_cta_download-app:hover {
  background-color: var(--primary-color-green);
  color: white;
}
/* header ends */
/* display card */
.cards {
  width: 21.5vw;
  height: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px;
}
.img_container img {
  width: 20vw;
}
.title_container {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 5px;
  font-size: 1vw;
}
.details_btn_container {
  margin-block: 10px;
  display: flex;
  flex-wrap: wrap;
}
.details_btn_container button {
  width: auto;
  background-color: rgba(220, 220, 220, 0.61);
  border: none;
  margin: 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}
.card_pricing_perYear {
  margin: 5px;
  color: gray;
}
/* display cards ends */
/* download button */
.orange_download_button {
  background-color: var(--secondary-color-orange);
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border: none;
  color: var(--primary-color-green);
  font-weight: 900;
  font-family: monospace;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, width 0.2s ease,
    height 0.2s ease;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease,
    width 0.2s ease, height 0.2s ease;
  -moz-transition: background-color 0.2s ease, color 0.2s ease, width 0.2s ease,
    height 0.2s ease;
  -ms-transition: background-color 0.2s ease, color 0.2s ease, width 0.2s ease,
    height 0.2s ease;
  -o-transition: background-color 0.2s ease, color 0.2s ease, width 0.2s ease,
    height 0.2s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.btnMargin {
  margin: 2%;
}
/* download button ends */
