:root {
  --primary-color-green: #1f4b43;
  --primary-color-green-thick: #1f4b43;
  --secondry-font: "manrope";
  --secondary-color-orange: #dba94d;
}
button{
  cursor: pointer;
}
/* new sectio */
.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/lANDING-PAGE-IMG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}
.hero-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.hero_title {
  color: var(--primary-color-green);
  font-size: 3.5vw;
}
.hero_sub_title {
  color: rgba(0, 0, 0, 0.767);
  font-size: 2vw;
}
.hero-cta-btn {
  margin-top: 2%;
}
.hero_cta_btns {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border: 2px solid var(--primary-color-green);
  color: var(--primary-color-green);
  font-weight: 900;
  margin: 5px;
  font-family: monospace;
  cursor: pointer;
}
.download_cta_btn {
  background-color: var(--primary-color-green);
  color: white;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.learn_more_cta_btn {
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s;
  -webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s;
  -moz-transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s;
  -ms-transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s;
  -o-transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s;
}
.download_cta_btn:hover,
.learn_more_cta_btn:hover {
  background-color: var(--secondary-color-orange);
  border: none;
  color: white;
}
/* section ends */
/* new section */
.sub_hero_section {
  width: 100vw;
  height: 30vh;
  background-color: var(--primary-color-green);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_hero_text {
  font-family: monospace;
}
.sub_hero_title,
.sub_hero_sub_title {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.sub_hero_title {
  font-size: 27px;
}
.sub_hero_cta:hover {
  background-color: white;
  color: var(--primary-color-green);
  width: 184px;
  height: 44px;
}
/* section ends */
/* new section */
.exp_section {
  width: 100vw;
  height: 75vh;
  background: linear-gradient(
    80deg,
    #fff,
    #fff,
    #fff,
    #bbdbf344,
    #bbdbf344,
    #fff
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.exp_section_left img {
  width: 27vw;
  margin: 10px;
}
.exp_section_right {
  width: 550px;
  height: auto;
  margin-bottom: 50px;
}
.exp_section_right h1 {
  font-size: 35px;
  padding: 8px;
  color: var(--primary-color-green-thick);
}
.exp_section_right h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 8px;
  color: var(--primary-color-green);
}
.exp_section_right article {
  padding: 8px;
  font-weight: 600;
}
/* section ends */
/* new section */
.sub_exp_section {
  display: flex;
  justify-content: center;
  align-items: start;
  align-items: center;
  width: 75vw;
  height: 30vh;
  margin: auto;
}
.sub_exp_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reabon {
  position: relative;
  bottom: 4vw;
  left: 11vw;
  width: 3vw;
}
.sub_exp_img_container img {
  margin-inline: 5px;
}
.sub_exp_img_container :nth-child(2) {
  width: 8vw;
}
.sub_exp_img_container :nth-child(3) {
  width: 15vw;
}
.sub_exp_img_container :nth-child(4) {
  width: 13vw;
}
.txt_container {
  margin-left: 50px;
  width: 450px;
  color: var(--primary-color-green-thick);
  font-size: 1vw;
}
/* section ends */
/* new section  */
.quick_preview_section {
  width: 100vw;
  height: 60vh;
  background-image: url(../assets/quickPreviwe_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}
.quick_p_img_container img {
  width: 40vw;
}
.quick_p_txt_container {
  width: 50vw;
  color: white;
  padding: 10px;
}
.quick_p_cta_btn {
  width: 150px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  margin: 10px;
}
/* section ends */
/* new section */
.neighborhoodGuid_section {
  width: 90vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  margin: auto;
}
.nguid_txt_container {
  width: 32vw;
  margin-block: 10% auto;
  margin-inline: 50px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.nguid_img_container img {
  height: 100%;
}
.nguid_txt_container h1 {
  font-weight: 400;
  color: var(--primary-color-green);
  margin-bottom: 2px;
}
.nguid_txt_container h2 {
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  color: var(--primary-color-green);
}
/* section ends */
/* new section  */
.Feaqured_Properties_Section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}
.featured_title_container {
  width: 70%;
  height: 100px;
  margin: 3.5% auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.featured_title_container h1 {
  margin-bottom: 20px;
  font-size: 3vw;
  color: var(--primary-color-green);
}
.featured_title_container h3 {
  font-size: 1.6vw;
  font-weight: 500;
}
.featured_items_cards_container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: start;
  align-items: center;
  display: flex;
}
/* sectoin ends */
/* section begins */
.property_sale_section {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.property_heading {
  padding-left: 10vw;
}
.prop_heading_img_container img {
  margin-right: -17px;
}

.prop_heading_txt_container {
  color: var(--primary-color-green);
  padding-top: 30px;
}
.prop_heading_txt_container h1 {
  font-size: 3vw;
}
.prop_heading_txt_container h2 {
  width: 23vw;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 2vw;
}
.property_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.property_cta_txt_btn {
  width: 30vw;
  height: 40vh;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.property_cta_txt_btn p {
  margin-bottom: 40px;
}

.property_img_container {
  display: flex;
  margin-left: auto;
  overflow: hidden;
  width: 85vh;
  height: 100vh;
}
.property_img_container img {
  width: 100%;
  height: 100%;
}
/* section ends */
