/*Responsive design section */
/* medium sized screen */
@media (min-width: 1100px) {
  .hero_title {
    font-size: 4vw;
  }
  .hero_sub_title {
    font-size: 2vw;
  }
  .download_cta_btn,
  .learn_more_cta_btn {
    width: 220px;
    height: 70;
    font-size: 20px;
  }
  .quick_p_img_container img {
    width: 30vw;
  }
  .quick_p_txt_container {
    width: 420px;
  }
  .Feaqured_Properties_Section {
    height: 100vh;
  }
  .featured_title_container h1 {
    font-size: 2vw;
  }
  .featured_title_container h3 {
    font-size: 1.2vw;
    font-weight: 700;
  }
  .cards {
    margin-top: 2.5%;
  }
}
@media all and (max-width: 900px) {
  .hero {
    height: 90vh;
  }
  .sub_hero_sub_title {
    font-size: 12px;
  }
  .sub_hero_cta {
    width: 150px;
  }
  .quick_p_img_container img {
    width: 400px;
  }
  .nguid_img_container img {
    width: 40vw;
    height: 80%;
  }
  .Feaqured_Properties_Section {
    height: 220vh;
  }
  .featured_items_cards_container {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  .cards {
    width: 70vw;
    margin-bottom: 10%;
    margin-top: 0;
  }
  .img_container {
    width: 90%;
  }
  .img_container img {
    width: 100%;
  }
  .title_container {
    width: 62vw;
  }
  .card_title {
    font-size: 15px;
  }
  .details_btn_container button {
    padding: 7px;
    font-size: 10px;
  }
  .property_img_container {
    width: 60vw;
    height: 70vh;
    overflow: hidden;
  }
}
/* small sizd screen */
@media all and (max-width: 750px) {
  .hero {
    height: 80vh;
  }
  .hero_title {
    font-size: 5vw;
  }
  .hero_sub_title {
    font-size: 2vw;
  }
  .sub_hero_sub_title {
    font-size: 9.3px;
  }
  .sub_hero_cta {
    width: 120px;
  }
  .exp_section {
    background: linear-gradient(100deg, #fff, #fff, #bbdbf344, #bbdbf344, #fff);
  }
  .exp_section_right h1 {
    font-size: 25px;
  }
  .exp_section_right h3 {
    font-size: 17px;
  }
  .exp_section_right article {
    font-size: 12px;
  }
  .exp_section_left img {
    width: 30vw;
  }
  .quick_p_txt_container {
    font-size: 12px;
  }
  .Feaqured_Properties_Section {
    height: 150vh;
  }
  .cards {
    width: 55vw;
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .title_container {
    width: 48vw;
  }
  .featured_title_container {
    width: 90vw;
  }
  .property_sale_section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .property_heading {
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
  }
  .prop_heading_txt_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .prop_heading_txt_container h1 {
    font-size: 6vw;
  }
  .prop_heading_txt_container h2 {
    font-size: 3.5vw;
    margin-block: 7px;
    width: 50vw;
  }
  .prop_heading_img_container img {
    width: 8vw;
  }
  .property_img_container {
    width: 100vw;
    margin: 0;
  }
  .property_img_container img {
    display: flex;
    width: 75vw;
  }
  .property_cta_txt_btn {
    width: 70vw;
    align-items: center;
    height: fit-content;
  }
  .property_cta_txt_btn p {
    margin: 2%;
  }
}
/* ertra small screen size */
@media (max-width: 690px) {
  .hero {
    height: 60vh;
  }
  .quick_preview_section,
  .exp_section {
    height: 50vh;
  }
  .resida-text {
    display: none;
  }
  .header_cta_contact {
    width: 80px;
  }
  .header_cta_download-app {
    width: 110px;
    font-size: 12px;
  }
  .hero_title {
    margin-bottom: 10px;
    font-size: 4vw;
  }
  .hero_sub_title {
    font-size: 2vw;
    color: rgb(0, 0, 0);
  }
  .sub_hero_section {
    flex-direction: column;
    height: 20vh;
  }
  .sub_hero_sub_title {
    font-size: 0.7rem;
  }
  .sub_hero_cta {
    width: 200px;
    margin: 1%;
  }
  .exp_section_right h1 {
    font-size: 20px;
  }
  .exp_section_right h3 {
    font-size: 13px;
  }
  .sub_exp_section {
    width: 90vw;
    height: 15vh;
  }
  .sub_exp_img_container :nth-child(2) {
    margin: 5px;
    width: 12vw;
  }
  .sub_exp_img_container :nth-child(3) {
    width: 20vw;
  }
  .sub_exp_img_container :nth-child(4) {
    width: 20vw;
  }
  .reabon {
    display: none;
  }
  .quick_p_img_container img {
    width: 50vw;
  }
  .neighborhoodGuid_section {
    height: 75vh;
  }
  .nguid_img_container img {
    width: 40vw;
    height: 40vh;
    margin-block: 55px;
  }
  .nguid_txt_container article {
    font-size: 14px;
  }
  .Feaqured_Properties_Section {
    height: 180vh;
  }
  .cards {
    width: 51vw;
  }
  .img_container {
    width: 50vw;
  }
  .property_sale_section {
    height: 70vh;
  }
}
/* extra-small */
@media (max-width: 490px) {
  .header_right {
    display: none;
  }
  .hand_buger_menu {
    visibility: visible;
  }
  .hero-cta-btn {
    display: flex;
    flex-direction: column;
  }
  .download_cta_btn,
  .learn_more_cta_btn {
    width: 170px;
    height: 40px;
  }
  .sub_hero_title {
    font-size: 3vw;
  }
  .sub_hero_sub_title {
    font-size: 2vw;
  }
  .exp_section {
    flex-direction: column-reverse;
    background: linear-gradient(300deg, #fff, #fff, #bbdbf344, #bbdbf344, #fff);
    height: 60vh;
  }
  .exp_section_right {
    width: 70vw;
    margin-bottom: 10px;
  }
  .sub_exp_section {
    flex-direction: column-reverse;
    /* justify-content: center; */
    /* align-items: center; */
    height: 30vh;
    width: 100vw;
  }
  .sub_exp_img_container :nth-child(2) {
    margin: 10px;
    width: 20vw;
  }
  .sub_exp_img_container :nth-child(3) {
    width: 35vw;
  }
  .sub_exp_img_container :nth-child(4) {
    width: 35vw;
  }
  .txt_container {
    width: 80vw;
    font-size: 2.5vw;
    margin: 0 auto;
    text-align: center;
  }
  .reabon {
    display: none;
  }
  .exp_section_left h2 {
    margin: auto;
  }

  .quick_preview_section {
    flex-direction: column;
    height: 70vh;
  }
  .quick_p_img_container img {
    width: 80vw;
  }
  .quick_p_txt_container {
    width: 100vw;
    text-align: center;
    font-weight: 700;
  }
  .neighborhoodGuid_section {
    flex-direction: column;
    height: 85vh;
    width: 90vw;
  }
  .nguid_img_container img {
    width: 100%;
    height: 40vh;
    margin: 0;
    padding: 0;
  }
  .nguid_txt_container {
    margin-block: 0;
    margin-inline: 0;
    display: flex;
  }
  .nguid_txt_container {
    margin: 10px;
    width: 80vw;
  }
  .nguid_txt_container div {
    width: 70vw;
  }
  .nguid_txt_container h1 {
    font-size: 20px;
  }
  .nguid_txt_container h2 {
    font-size: 19px;
  }
  .nguid_txt_container button {
    width: 200px;
    margin-top: 80px;
    padding: 10px;
  }
  .Feaqured_Properties_Section {
    height: 170vh;
  }
  .property_sale_section {
    height: 90vh;
    margin-top: 20px;
  }
  .property_img_container {
    overflow: visible;
  }
}
